<!-- starts navbar admin -->
<section class="body_admin">
    <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
        <div class="logo">
            <!-- <img src="https://pubcdn.ivymoda.com/ivy2/images/logo.png" alt="" > -->
            <div class="icon_logo" (click)="toggleCollapse()">
                <i class="fab fa-angular"></i>
            </div>
            <span class="text" *ngIf="collapsed">Ivymoda</span>
            <!-- <i class="close fas fa-times-circle" (click)="closeSidenav()" *ngIf="collapsed"></i> -->
            <i class="close fas fa-angle-left"  (click)="closeSidenav()" *ngIf="collapsed"></i>
        </div>
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let item of navData">
                <a class="sidenav-nav-link" [routerLink]="[ item.routerLink ]" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact : true}">
                    <i class="sidenav-link-icon" [class]="item.icon"></i>
                    <span class="sidenav-link-text" *ngIf="collapsed">{{item.lable}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="activity">
        <section class="header_admin">
            <div class="item">
                <div class="search_icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="search_Admin" placeholder="Search here">
                </div>
                <div class="item_icon">
                    <div class="notifi">
                        <i class="fa-regular fa-bell"></i>
                    </div>
                    <div class="massage">
                        <i class="fa-regular fa-comment" [routerLink]="[ 'chats_customer' ]"
                            routerLinkActive="active"></i>
                    </div>
                    <div class="login_admin">
                        <i class="fa-solid fa-arrow-right" (click)="logoutAccount()"></i>
                    </div>
                </div>
            </div>
        </section>
        <div class="page-item">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
<!-- ends navbar admin -->