<form action="" [formGroup]="form" (submit)="addProduct_API(form)" method="post">
    <div class="input_infor_pro row">
        <p class="title">Add product</p>
        <div class="input_item col-lg-3">
            <i class="fas fa-signature"></i>&nbsp;<span>Tên sản phẩm :</span><br>
            <div class="input_text">
                <input type="text" class="form-control" name="name_pro" formControlName="name_pro" id="name_pro"
                    [ngClass]="{
                      'is-invalid': submit && form.controls['name_pro'].hasError('required') ,
                      'is-valid': form.controls['name_pro'].touched && !form.controls['name_pro'].hasError('required'),
                      'form-control': true
                    }" placeholder="Tên sản phẩm" />
                <ng-container
                    *ngIf="form.get('name_pro')?.invalid || form.get('name_pro')?.valid || form.get('name_pro')?.touched">
                    <div class="invalid-feedback" style="margin-top: unset">
                        <span class="style-error" *ngIf="form.controls['name_pro'].hasError('required')">
                            {{ Validate_form.name_pro }}
                        </span>
                    </div>
                </ng-container>
            </div>

        </div>
        <div class="input_item_checkbox col-lg-3">
            <div class="list_input-check">
                <span>Loại sản phẩm :</span>&nbsp;
                <div class="item">
                    <input type="radio" formControlName="type_sex" id="" name="type_sex" value="men">
                    <label>Nam</label>
                </div>
                <div class="item">
                    <input type="radio" formControlName="type_sex" id="" name="type_sex" value="women">
                    <label>Nữ</label>
                </div>
                <div class="item">
                    <input type="radio" formControlName="type_sex" id="" name="type_sex" value="kid">
                    <label>Trẻ em</label>
                </div>
            </div>
            <ng-container class="invalid-feedback" *ngIf="!form.value.type_sex">
                <span style="color: #dc3545;">{{errorValidateTypeProduct}}</span>
            </ng-container>
        </div>
        <div class="input_item col-lg-3">
            <i class="far fa-images"></i>&nbsp;<span>Hình ảnh :</span><br>
            <div class="input_text">

                <input type="file" class="form-control" formControlName="image" (change)="handleImage($event)"
                    id="image_pro" placeholder="Ảnh sản phẩm" [ngClass]="{
                        'is-invalid': submit && form.controls['image'].hasError('required') ,
                        'is-valid': form.controls['image'].touched && !form.controls['image'].hasError('required'),
                        'form-control': true
                      }">
                <ng-container class="invalid-feedback" *ngIf="form.get('image')?.invalid || form.get('image')?.touched">
                    <div class="invalid-feedback" style="margin-top: unset">
                        <span class="style-error" *ngIf="form.controls['image'].hasError('required')">{{
                            Validate_form.image_pro }}</span>
                    </div>
                </ng-container>
            </div>

        </div>
        <div class="input_item col-lg-3">
            <i class="fas fa-dollar-sign"></i>&nbsp;<span>Giá :</span><br>
            <div class="input_text">

                <input type="number" class="form-control" name="price" formControlName="price" id="price" [ngClass]="{
                    'is-invalid': submit && form.controls['price'].hasError('required') ,
                    'is-valid': form.controls['price'].touched && !form.controls['price'].hasError('required'),
                    'form-control': true
                  }" placeholder="Giá">
                <ng-container class="invalid-feedback" *ngIf="form.get('price')?.invalid || form.get('price')?.touched">
                    <div class="invalid-feedback" style="margin-top: unset">
                        <span class="style-error" *ngIf="form.controls['price'].hasError('required')">{{
                            Validate_form.price }}</span>
                    </div>
                </ng-container>
            </div>

        </div>
        <div class="input_item col-lg-3">
            <i class="fas fa-percent"></i>&nbsp;<span>Sale :</span><br>
            <div class="input_text">

                <input type="number" class="form-control" name="sale" formControlName="sale" id="sale" [ngClass]="{
                    'is-invalid': submit && form.controls['sale'].hasError('required') ,
                    'is-valid': form.controls['sale'].touched && !form.controls['sale'].hasError('required'),
                    'form-control': true
                  }" placeholder="Mức sale">
                <ng-container class="invalid-feedback" *ngIf="form.get('sale')?.invalid || form.get('sale')?.touched">
                    <div class="invalid-feedback" style="margin-top: unset">
                        <span class="style-error" *ngIf="form.controls['sale'].hasError('required')">{{
                            Validate_form.sale }}</span>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="input_item col-lg-3">
            <i class="fas fa-sort-numeric-up-alt"></i>&nbsp;&nbsp;<span>Số lượng :</span><br>
            <div class="input_text">

                <input type="number" class="form-control" name="quantity" formControlName="quantity" id="quantity"
                    [ngClass]="{
                    'is-invalid': submit && form.controls['quantity'].hasError('required') ,
                    'is-valid': form.controls['quantity'].touched && !form.controls['quantity'].hasError('required'),
                    'form-control': true
                  }" placeholder="Số lượng">
                <ng-container class="invalid-feedback"
                    *ngIf="form.get('quantity')?.invalid || form.get('quantity')?.touched">
                    <div class="invalid-feedback" style="margin-top: unset">
                        <span class="style-error" *ngIf="form.controls['quantity'].hasError('required')">{{
                            Validate_form.quantity }}</span>
                    </div>
                </ng-container>
            </div>

        </div>

        <div class="input_item col-lg-3">
            <span>Size :</span><br>
            <div class="list_size_pro">
                <div *ngFor="let item of listSize">
                    <button type="button" (click)="getSizeValue(item)" [class.checked]="item.isChecked"
                        class="size_but">{{item.name_s}}</button>
                </div>
            </div>
            <ng-container *ngIf="this.listGetSize.length<=0">
                <span style="color: #dc3545;">{{errorValidateTypeProduct}}</span>
            </ng-container>
        </div>

        <div class="input_item col-lg-3">
            <span>Màu sắc :</span><br>
            <div class="list_color">
                <div *ngFor="let item of listColor">
                    <span class="color_but" (click)="getColorValue(item)" [style.background-color]="item.code_color"
                        [class.checked]="item.isChecked"></span>
                </div>
            </div>
            <ng-container class="invalid-feedback" *ngIf="this.listGetColor.length<=0">
                <span style="color: #dc3545;">{{errorValidateColor}}</span>
            </ng-container>
        </div>

        <div class="input_item col-lg-6">
            <i class="fas fa-info"></i>&nbsp;<label for="description" class="form-label">Giới thiệu :</label>
            <textarea class="form-control" formControlName="des" name="des" id="exampleFormControlTextarea1" rows="3"
                [ngClass]="{
                'is-invalid':submit &&
                  (form.controls['des'].hasError('required')),
                'is-valid':
                  form.controls['des'].touched &&
                  !form.controls['des'].hasError('required'),
                'form-control': true
              }"></textarea>
            <ng-container class="invalid-feedback" *ngIf="form.get('des')?.invalid || form.get('des')?.touched">
                <div class="invalid-feedback" style="margin-top: unset">
                    <span class="style-error" *ngIf="form.controls['des'].hasError('required')">{{
                        Validate_form.description }}</span>
                </div>
            </ng-container>
        </div>
        <div class="input_item_checkbox col-lg-6">
            <div class="list_input-check">
                <span>Trạng thái sản phẩm :</span>
                <div class="item">
                    <input type="radio" formControlName="status" id="" name="status" value="business">
                    <label>Kinh doanh</label>
                </div>
                <div class="item">
                    <input type="radio" formControlName="status" id="" name="status" value="inventory">
                    <label>Tồn kho</label>
                </div>
            </div>
        </div>
    </div>
    <div class="button_submit">
        <button type="submit" class="button_add_pro">Add</button>
    </div>
</form>