<div class="dashboard">
    <div class="report row">
        <div class="col-lg-3">
            <div class="view_report">
                <div class="box-top">
                    <div class="box-left">
                        <div class="title">Số lượng</div>
                        <div class="sum">$2000</div>
                    </div>
                    <div class="box-right">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <div class="box-bottom">
                    <span class="view_detail">View report</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="view_report">
                <div class="box-top">
                    <div class="box-left">
                        <div class="title">Số lượng</div>
                        <div class="sum">$2000</div>
                    </div>
                    <div class="box-right">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <div class="box-bottom">
                    <span class="view_detail">View report</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="view_report">
                <div class="box-top">
                    <div class="box-left">
                        <div class="title">Số lượng</div>
                        <div class="sum">$2000</div>
                    </div>
                    <div class="box-right">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <div class="box-bottom">
                    <span class="view_detail">View report</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="view_report">
                <div class="box-top">
                    <div class="box-left">
                        <div class="title">Số lượng</div>
                        <div class="sum">$2000</div>
                    </div>
                    <div class="box-right">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <div class="box-bottom">
                    <span class="view_detail">View report</span>
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="charts">
        <!-- <div [chart]="chart"></div> -->
        <div class="chart_pie" [chart]="piechart">
        </div>
        <div class="chart_area" [chart]="areaChart">
        </div>
    </div>
</div>